In [2]:
# Database means to store structured and unstruced data

In [3]:
# Data Definition Language. DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and constraints
#Create is used for create the databse
# Drop is used for delete the database or table
# Alter is used for modify the table
# Truncate is used to delete the data permanently. It can not be rolled back

In [5]:
#Data Manipulation Laguage. used to retrieve, insert, update, and delete data in a database
# Insert is used for insert data in table.
#update is used to modify the table.
# Delete is used for delete the table

In [6]:
# DQL is used for query and view the data
# Select command is used to retrieve/ view the data of a table

In [7]:
#A primary key is a special column or combination of columns in a database table that uniquely identifies each row in the table
#A foreign key is a column or a set of columns in a database table that establishes a link or relationship between two tables

In [8]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)


#A cursor is a database object used to traverse and manipulate a set of rows returned by a database query
#Execute means to perform specific task

ModuleNotFoundError: No module named 'mysql'

In [9]:
#Order of Execution:
#from
#where
#groupby
#having
#select
#orderby